html

    head
      link(href='/css/style.css', rel='stylesheet')

    body

      nav.navBar
        nav.wrapper
          ul
            li
              a(href="#") About
            li
              a(href="#") Groups
            li
              a(href="#") Events
            li
              a(href="#") Team
            li
              a(href="#") Contact


      div.full-height.vertical-center.center
        div.logo-box.center#logo
          img(src="/img/ra-logo-white.png")

      div.full-height.vertical-center.center
        div.logo-box.center#logo
          img(src="/img/ra-logo-white.png")

    script(src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="/js/main.js")
