html

    head
      link(href='/css/style.css', rel='stylesheet')

    body

      nav.navBar
        nav.wrapper
          div.logo
            ul
              li
                a(href="#") Lorem
              li
                a(href="#") Ipsum
              li
                a(href="#") Legal


      div.full-height.vertical-center.center
        div.logo-box.center#logo
          img(src="/img/ra-logo-white.png")
